*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #ebbf8dac;
    background-image: url(./assests/book-shelf.png);
    background-size: 90vw;
    background-position: center 40vh;
    background-repeat: no-repeat;
    height: 200vh;

}
.header{
    background-color: #f3bb7ba4;
    border-radius: 20px;
    margin: 20px;
    width: 98vw;
    /* border: 1px solid black; */
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo img{
    height: 40px;
    position: relative;
    right: 240px;
}
.search-bar{
    padding: 8px;
    position: relative;
    right: 285px;
}
.search-bar input{
    padding: 10px;
    width: 500px;
    border-radius: 18px;
    font-size: 20px;
}
.search-bar img{
    height: 30px;
    position: relative;
    top: 10px;
    left: 500px;
}
/* .top-bar{
    border-radius: 20px;
    margin: 20px;
    width: 98vw;
    height: 300px;
    background: #cdaeee;
    background: radial-gradient(circle, rgba(205, 174, 238, 0.96) 46%, rgba(148, 229, 233, 1) 87%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.top-bar p{
    font-size: 55px;
    font-weight: bold;
}
.top-bar .color{
    color: #090979;
    color: linear-gradient(90deg,rgba(9, 9, 121, 0.424) 35%, rgba(0, 213, 255, 0.428) 100%);
}
.top-bar .gray-small{
    color: gray;
    top: 2px;
    font-size: 25px;
} */
.topBar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 300px;
    /* border-radius: 20%; */
    /* border: 1px solid green; */


}
.topBar .img{
    height: 300px;
    width: 90vw;
    background: linear-gradient(
        to bottom,
        #f2d4b2,
        #f2c594,
        #f2c48f);
    box-shadow:
    inset 0 4px 8px #d6a271,    /* top inner */
    inset 0 -4px 8px #8d5731,   /* bottom inner */
    inset 4px 0 8px #e6a86c,    /* left inner */
    inset -4px 0 8px #e6a86c;   /* right inner */

    
}
.bookShelf {
    width: 80vw;
    margin: 20px auto 10px;
    display: flex;
    align-items: center;
}

.bookShelf h3 {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.791);
}

#books {
    width: 80vw;
    margin: 30px auto 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    row-gap: 137.5px;
    /* border: 1px solid white; */
}
#books .card{
    margin: 5px;
    height: 350px;
    width: 200px;
    /* border-radius: 5%; */
    /* border: 1px solid black; */
    /* background-color: rgba(128, 128, 128, 0.575); */
    /* color: white; */
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border-radius: 2%;
}
#books .card .bookImage{
    /* background-image: url("assests/817HaeblezL._AC_UF1000,1000_QL80_.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 200px;
    /* border: 1px solid black; */
    /* background-color: white; */
    border-radius: 2%;
}